@font-face {
    font-family: Inter;
    src: url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

    font-family: FiraCode;
    src: url(https://fonts.googleapis.com/css2?family=Fira+Code&display=swap);
}

#nav-name {
    gap: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 22px;
}

.font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    color: white;
}

.name {
    text-align: justify;
    text-justify: inter-word;
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 110px;
    background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.border-email {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contact-button {
    font-family: 'Inter';
    Font-style: Light;
    Line-height: 124%;
    color: white;
}

