@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter */
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

/* Firacode */
@import url(https://fonts.googleapis.com/css2?family=Fira+Code&display=swap);

/* Monteserrat */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap);

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
  }

.name {
    font-family: sans-serif;
    background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title {
    background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    @apply font-semibold ;
}


.email-gradient {
    @apply from-[#9358F7] to-[#10D7E2];
}

.linkedin-gradient {
    @apply from-[#6964DE] to-[#FCA6E9];
}

.github-gradient {
    @apply from-[#F4426C] to-[#FBF2B1]; 
}

.instagram-gradient {
    @apply from-[#D24074] to-[#6518B4];
}
